/* FULL SCREEN BACKGROUND + LAYOUT */
.register-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  padding: 40px 80px;

  background-image: url("https://wallpapers.com/images/hd/most-common-fruits-and-vegetables-qi4dvwvcbhr5g1r5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
}


/* LOGIN / REGISTER CARD */
.register-card {
  width: 380px;
  background: rgba(255, 255, 255, 0.95);
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
}

/* Logo */
.logo {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
}

/* INPUT FIELDS */
.input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 16px;
}

/* BUTTON */
.register-btn {
  width: 100%;
  padding: 14px;
  background: #1b8647;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
}

.register-btn:hover {
  background: #176d3a;
}


/* RIGHT SIDE SECTION */
.register-right {
  flex: 1;
  text-align: left;
  padding-left: 60px;
}

.register-right h1 {
  font-size: 42px;
  font-weight: bold;
  color: #1a1a1a;
}

.register-right p {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

/* IMAGE ON RIGHT */
.veg-img {
  width: 420px;
  margin-top: 25px;
  border-radius: 14px;
}


/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
  .register-container {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }

  .register-right {
    padding-left: 0;
    margin-top: 35px;
  }

  .veg-img {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .register-card {
    width: 90%;
  }

  .register-right h1 {
    font-size: 32px;
  }

  .veg-img {
    width: 250px;
  }
}
